body{
  background-color: #f7e9d7;
}

.link-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 4px; /* Tạo khoảng trống cho gạch chân */
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: currentColor; /* Cùng màu với chữ */
  transition: width 0.5s ease;
}

.link-underline:hover::after {
  width: 100%; /* Gạch chân chạy từ trái sang phải */
}

.menu-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item .menu-text {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out;
}

.menu-item:hover .menu-text {
  opacity: 1;
  transform: translateX(0);
}